@model StaffModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.Helpdesk.Staffs.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Helpdesk.Staffs");
}

<form asp-controller="HelpdeskStaff" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Helpdesk.Staffs.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.NopStation.Helpdesk.Staffs.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>