@model PredefinedFormAttributeValueModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Admin.NopStation.Plugin.Misc.QuoteCart.FormAttributes.PredefinedValues.EditValueDetails").Text;
}

<form asp-controller="FormAttribute" asp-action="PredefinedFormAttributeValueEditPopup"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Plugin.Misc.QuoteCart.FormAttributes.PredefinedValues.EditValueDetails")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdatePredefinedFormAttributeValue", Model)
</form>