@using Nop.Core.Domain.Catalog;
@using Nop.Web.Extensions;
@using Nop.Web.Framework.Mvc.Routing;
@using NopStation.Plugin.Widgets.VendorShop.Models.ProfileTabs;
@model VendorProfileModel

@if (!string.IsNullOrEmpty(Model.WarningMessage))
{
    <div class="warning">
        @Model.WarningMessage
    </div>
}

@if (Model.Reviews.Count > 0)
{
    <div class="product-list">
        <div class="item-grid">
            @foreach (var review in Model.Reviews)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ReviewBox", review)
                </div>
            }
        </div>
    </div>
    var pager = Html.Pager(Model).QueryParam("pagenumber");

    @if (!await pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
}
else if (!string.IsNullOrEmpty(Model.NoResultMessage))
{
    <div class="no-result">
        @Model.NoResultMessage
    </div>
}