@model VendorReviewOverviewModel

<div class="overall-reviews-container">
    <div class="vendor-overall-review"> @Html.Raw(Model.OverallRating)</div>
    <div class="vendor-total-reviews">@Html.Raw(Model.BasedOnTotalReview)</div>
</div>

