@model NopStation.Plugin.Shipping.DHL.Areas.Admin.Models.DHLServiceModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.DHL.Services.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("DHL.Services");
}

<form asp-controller="DHL" asp-action="Create" method="post" id="product-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.DHL.Services.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="ServiceList">@T("Admin.NopStation.DHL.Services.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ServiceName" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ServiceName" asp-required="true" />
                                    <span asp-validation-for="ServiceName"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="GlobalProductCode" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="GlobalProductCode" asp-required="true" />
                                    <span asp-validation-for="GlobalProductCode"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="IsActive" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="IsActive" asp-required="true" />
                                    <span asp-validation-for="IsActive"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>