@model WidgetPushItemSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.WidgetPush.WidgetPushItems.List").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("WidgetPush.WidgetPushItems");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.NopStation.WidgetPush.WidgetPushItems.List")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "widgetpushitems-grid",
                        UrlRead = new DataUrl("List", "WidgetPush", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(WidgetPushItemModel.Name))
                            {
                                Title = T("Admin.NopStation.WidgetPush.WidgetPushItems.Fields.Name").Text,
                                Width = "150"
                            },
                            new ColumnProperty(nameof(WidgetPushItemModel.WidgetZone))
                            {
                                Title = T("Admin.NopStation.WidgetPush.WidgetPushItems.Fields.WidgetZone").Text,
                                Width = "150"
                            },
                            new ColumnProperty(nameof(WidgetPushItemModel.DisplayOrder))
                            {
                                Title = T("Admin.NopStation.WidgetPush.WidgetPushItems.Fields.DisplayOrder").Text,
                                Width = "100"
                            },
                            new ColumnProperty(nameof(WidgetPushItemModel.Active))
                            {
                                Title = T("Admin.NopStation.WidgetPush.WidgetPushItems.Fields.Active").Text,
                                Width = "100",
                                Render = new RenderBoolean(),
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(WidgetPushItemModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>