@model SqlReportSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.SqlManager.SqlReports.ViewReports").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("ViewSqlReports");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.NopStation.SqlManager.SqlReports.ViewReports")
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "sqlparameters-grid",
                        UrlRead = new DataUrl("ViewList", "SqlReport", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(SqlReportModel.Name))
                            {
                                Title = T("Admin.NopStation.SqlManager.SqlReports.Fields.Name").Text,
                                Width = "150"
                            },
                            new ColumnProperty(nameof(SqlReportModel.Query))
                            {
                                Title = T("Admin.NopStation.SqlManager.SqlReports.Fields.Query").Text,
                                Width = "100"
                            },
                            new ColumnProperty(nameof(SqlReportModel.Description))
                            {
                                Title = T("Admin.NopStation.SqlManager.SqlReports.Fields.Description").Text,
                                Width = "100"
                            },
                            new ColumnProperty(nameof(SqlReportModel.Id))
                            {
                                Title = T("Admin.NopStation.SqlManager.SqlReports.ViewReport").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonView(new DataUrl("ViewReport"))
                            }
                        }
                    })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>