@model OnlineCustomerSearchModel
@{
    //page title
    ViewBag.PageTitle = T("NopStation.Plugin.Widgets.CrawlerManager.Menu.CrawlerManagerList").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("CrawlerManager.List");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("NopStation.Plugin.Widgets.CrawlerManager.Menu.CrawlerManagerList")
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "crawlers-grid",
                            UrlRead = new DataUrl("List", "CrawlerManager", null),
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(CrawlerModel.CrawlerInfo))
                                {
                                    Title = T("NopStation.Plugin.Widgets.CrawlerManager.Fields.CrawlerInfo").Text,
                                    Render = new RenderLink(new DataUrl("~/Admin/Customer/Edit", nameof(CrawlerModel.Id)))
                                },
                                new ColumnProperty(nameof(CrawlerModel.IPAddress))
                                {
                                    Title = T("NopStation.Plugin.Widgets.CrawlerManager.Fields.IPAddress").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(CrawlerModel.Location))
                                {
                                    Title = T("NopStation.Plugin.Widgets.CrawlerManager.Fields.Location").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(CrawlerModel.AddedBy))
                                {
                                    Title = T("NopStation.Plugin.Widgets.CrawlerManager.Fields.AddedBy").Text,
                                },
                                new ColumnProperty(nameof(CrawlerModel.AddedOnUtc))
                                {
                                    Title = T("NopStation.Plugin.Widgets.CrawlerManager.Fields.AddedOnUtc").Text,
                                    Width = "200",
                                    Render = new RenderDate()
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
