@model SmartCarouselModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableAutoPlay" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableAutoPlay" />
            <span asp-validation-for="EnableAutoPlay"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="EnableAutoPlay">
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="AutoPlayTimeout" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AutoPlayTimeout" />
                <span asp-validation-for="AutoPlayTimeout"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="AutoPlayHoverPause" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AutoPlayHoverPause" />
                <span asp-validation-for="AutoPlayHoverPause"></span>
            </div>
        </div>
    </nop-nested-setting>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableLoop" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableLoop" />
            <span asp-validation-for="EnableLoop"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="StartPosition" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StartPosition" />
            <span asp-validation-for="StartPosition"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="Center" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Center" />
            <span asp-validation-for="Center"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="EnableKeyboardControl" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableKeyboardControl" />
            <span asp-validation-for="EnableKeyboardControl"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="EnableKeyboardControl">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="KeyboardControlOnlyInViewport" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="KeyboardControlOnlyInViewport" />
                <span asp-validation-for="KeyboardControlOnlyInViewport"></span>
            </div>
        </div>
    </nop-nested-setting>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableLazyLoad" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableLazyLoad" />
            <span asp-validation-for="EnableLazyLoad"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableNavigation" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableNavigation" />
            <span asp-validation-for="EnableNavigation"></span>
        </div>
    </div>

    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="EnablePagination" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnablePagination" />
            <span asp-validation-for="EnablePagination"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="EnablePagination">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="PaginationClickable" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PaginationClickable" />
                <span asp-validation-for="PaginationClickable"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="PaginationTypeId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="PaginationTypeId" asp-items="Model.AvailablePaginationTypes" />
                <span asp-validation-for="PaginationTypeId"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="PaginationDynamicBullets" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PaginationDynamicBullets" />
                <span asp-validation-for="PaginationDynamicBullets"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="PaginationDynamicMainBullets" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PaginationDynamicMainBullets" />
                <span asp-validation-for="PaginationDynamicMainBullets"></span>
            </div>
        </div>
    </nop-nested-setting>
</div>