@{
    Layout = "_ColumnsOne";
    NopHtml.AddTitleParts(T("NopStation.StripePaymentElement.PaymentError").Text);
    var errors = TempData.TryGetValue("Errors", out var err) ? err as IList<string> : new List<string>();
}

<div class="page">
    <div class="page-title">
        <h1>@T("NopStation.StripePaymentElement.PaymentError")</h1>
    </div>
    <div class="page-body">
        <p class="message-error">@T("NopStation.StripePaymentElement.PaymentError.UnableToVerify")</p>
        @if (errors.Any())
        {
            foreach (var error in errors)
            {
                <p class="message-error">@error</p>
            }
        }
    </div>
</div>