@{
    Layout = "";
}

<table width="100%" cell-padding="0" cells-pacing="0">
    <tr>
        <td>
            <p><b>@T("NopStation.Payments.OABIPayment.RedirectionTip")</b></p>
        </td>
    </tr>
</table>

