@model AddProductTagToMegaMenuSearchModel

<div class="card">
    <div class="card-header" id="headingProductTag">
        <h3 class="card-title">@T("Admin.NopStation.SmartMegaMenu.MegaMenus.MenuOptions.ProductTags")</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool"  data-toggle="collapse" data-target="#collapseProductTag" aria-expanded="true" aria-controls="collapseProductTag"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div id="collapseProductTag" class="collapse" aria-labelledby="headingProductTag" data-parent="#accordion">
        <div class="card-body">
            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Name = "menu-producttag-grid",
                UrlRead = new DataUrl("GetProductTags", "SmartMegaMenu",  new RouteValueDictionary { [nameof(Model.MegaMenuId)] = Model.MegaMenuId}),
                Length = Model.PageSize,
                LengthMenu = Model.AvailablePageSizes,
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(ProductTagModel.Id))
                    {
                        Title = T("Admin.NopStation.SmartMegaMenu.MegaMenus.MenuOptions.Select").Text,
                        ClassName =  NopColumnClassDefaults.CenterAll,
                        Width = "50",
                        Render = new RenderCustom("renderProductTagMenuSelector"),
                    },
                    new ColumnProperty(nameof(ProductTagModel.Name))
                    {
                        Title = T("Admin.Catalog.ProductTags.Fields.Name").Text,
                        Width = "180"
                    }
                }
            })

            <script asp-location="Footer">
                function renderProductTagMenuSelector(data, type, row, meta) {
                    return `<input onclick="addMenuItem(` + data + `, ` + @((int)MenuItemType.ProductTag) + `);" type="button" class="checkboxGroups" value="@T("Admin.NopStation.SmartMegaMenu.MegaMenus.MenuOptions.Add")" >`;
                }

            </script>
        </div>
    </div>
</div>
